#product-container,#featured-container{
    display: flex;
    width: 100%;
    gap: 30px;

}

.prod-img{
    width: 100px;
    height: 100px;
}

.prod-price{
    font-size: 50pxpx;
}

.title-h1{
    display: flex;
    justify-content: center;
}